.sobreConsolas{
    background-color: rgb(255, 255, 255);
    border-radius:20px 20px 20px 20px; 
}
.div__containerConsolas-Vertodo--Consolas {
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
}

.h1__consolas--Consolas {
    font-family: 'Raleway', sans-serif;
}

.a__verTodo--Consolas {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #2A7AE4;
    font-size: 1.3rem;
}

/* .div__divExteriorConsolas--Consolas{

} */
.div__divContainerElementosConsolas--Consolas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    
    
}

.div__divContainerInternoElementosConsolas--Consolas {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 2px; 
    background-color: rgb(255, 255, 255);
}

.img__Consolas--Consolas {
    width: inherit;
    border-radius: 19px;
}

.p__nombreProducto--Consolas{
    font-size: 1.1rem;
    text-align: center;
    margin: 10px;
}
.p__precioProducto--Consolas{
    margin: 1px;
    text-align: center;
    font-size: 1.1rem;
    color: rgb(87, 87, 87);
}
.p__verProductoDetallado--Consolas{
    margin: 9px;
    text-align:right ;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #2A7AE4;
}